# exclude folders
01_data_raw/
02_data_processed/
04_figures/
09_temp_playground/

scripts/data_exploration/
scripts/tutorials_others/

# exclude credentials
scripts/credentials_asf.py

# exclude workspace copies
scripts/*.pkl
